
.ilse {
  background-color: purple;
}
    /*ejemplo Nash*/
.cajaN {
    display: inline-block;
    width: 500px;
    height: 580px;
    margin-left: 70px;
    margin-right: 50px;
    background-color: #fff;
 }
.botonN {
    background-color: #EDD702;
    border:none;
    width: 70px;
    height: 30px;
    margin-left: 215px;
}
.imgN {
    margin-left: 100px;
    margin-top: 50px;
}
.textoN {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    color: #C4C4C4
}
.ejemplosN {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

#fer{
    color:turquoise;
    font-family: 'Fredericka the Great', cursive;    


.daffyta{
  background-color: #05c6ff;
  padding: 50px;

}
